<div class="container-new">
	<div class="row" style="text-align:center;">
		<h1>Product</h1>
		{% if variables.land_decor === "1" %}
		<a href="#page-sample" class="btn btn-circle page-scroll">
			<i class="fa fa-angle-double-down animated"></i>
		</a>
		{% endif %}
		{% if variables.land_decor === "2" %}
		<a href="#page-sample" class="btn btn-circle page-scroll">
			<img src="/rohovskanika/img/free-icon-down-arrow-656777.png">
		</a>
		{% endif %}
		{% if variables.land_decor === "3" %}
		<a href="#page-sample" class="btn btn-circle page-scroll">
			<img src="/rohovskanika/img/free-icon-down-chevron-8213476.png">
		</a>
		{% endif %}
	</div>
</div>

<!-- Page Sample Section -->
<section id="page-sample">
	<div class="polosar">
		<div class="container content-section text-center">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<a href="/product/{{{product.id}}}">
						<div class="card">
							<img src="{{{product.thumb}}}" alt="{{{product.name}}}">
							<h2 class="text-center">{{{product.name}}}</h2>
							<h3>{{{product.price}}}</h3>
							<h4>{{{product.description}}}</h4>
						</div>
				</div>
				</a>
			</div>
		</div>
</section>